.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 2% auto;
  position: relative;
}

.menu {
  align-items: center;
  margin-right: 40px;
}

video {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
