<div class="wrapper">
  <mat-toolbar color="primary">
    <span>Assigment</span>
  </mat-toolbar>

  <div class="content">
    <div class="menu">
      <app-available-cameras
        (cameraSelected)="
          startStream({
            video: true,
            deviceId: {
              exact: $event
            }
          })
        "
        class="camera-options"
      ></app-available-cameras>
      <!-- <app-video-controls class="video-controls"></app-video-controls> -->
    </div>

    <mat-divider></mat-divider>
    <br />
    <video
      id="video"
      *ngIf="streamSrc"
      [srcObject]="streamSrc"
      autoplay
    ></video>
    <canvas id="canvas"></canvas>
  </div>
</div>
